<!doctype html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<!--页面seo标题-->

<title>{$eyou.field.seo_title}</title>

<!--页面seo描述-->

<meta name="description" content="{$eyou.field.seo_description}" />

<!--页面seo关键词-->

<meta name="keywords" content="{$eyou.field.seo_keywords}" />

<!--网站地址栏图标-->

<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/css/amazeui.min.css" /}

{eyou:static file="skin/css/app.css" /}

{eyou:static file="skin/css/video.css" /}

<!--[if lt IE 9]>

<div class="notsupport">

  <h1>:( 非常遗憾</h1>

  <h2>您的浏览器版本太低，请升级您的浏览器</h2>

</div>

<![endif]-->

{eyou:static file="skin/js/jquery.min.js" /}

{eyou:static file="skin/js/amazeui.min.js" /}

{eyou:static file="skin/js/app.js" /}

{eyou:static file="skin/js/jquery.masonry.min.js" /}

{eyou:static file="skin/js/jszh.js" /}
</head>

<body>

<!--网站公用头部——开始--> 

{eyou:include file="header.htm" /} 

<!--网站公用头部——结束-->

<div class="video_show">
  <div class="course-video">
    <div class="course-video-area">
      <div class="index-area"> {eyou:position style=' ' /} </div>
      <h1 class="course-video-title">{$eyou.field.title}</h1>
      
      <!--点击数-->
      
      <div style="display: none">{eyou:arcclick /}</div>
      
      <!--点击数 end-->
      
      <div class="video-container">
        <div class="jw-video"> {eyou:videoplay aid='$eyou.field.aid' autoplay='off' id='video'}
          <video src="{$video.file_url}" {$video.id} loop='loop' width="880" height="490"></video>
          {$video.hidden}
          {/eyou:videoplay}
          <div class="jw-video-repeat">
            <div class="jw-friend">分享给朋友：</div>
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"p_w_picpath":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            
            <div class="jw-downloadContent-left"> {eyou:notempty name='$eyou.field.courseware' /} <a href="{$eyou.field.courseware}" target="_blank" data-count="0" id="jw-downloadCourseware-left">课件下载</a> {eyou:else /} <a  href="javascript:;" data-count="0" id="jw-downloadCourseware-left">暂无课件</a> {/eyou:notempty} </div>
          </div>
          <div class="jw-video-expense" id="VideoDiv13579" style="display: none;">
            <p id="MsgTitle13579"></p>
            <div class="jw-video-go video-period-buy" id="MsgOnclick13579"></div>
          </div>
        </div>
        <div class="video-period">
          <div class="video-period-title"> 课程目录<span>{$eyou.field.total_video}课时</span> <span class="total-time"><i>总时长</i>{$eyou.field.total_duration}</span> </div>
          <div class="video-period-cotent">
            <ul class="video-period-list">
              {eyou:videolist aid='$eyou.field.aid' id='video'}
              <li class="">
                <div class="video-name"> <span class="icon-learn"></span> <span class="video-titles">{$video.file_title}</span> </div>
                <a href="javascript:;" {$video.onclick}>
                <div class="video-play"> {eyou:eq name="video.gratis" value="1"}可试看{eyou:else/}<span class="VideoButton13579"></span>{/eyou:eq} </div>
                </a>
                <div class="video-progress"><span class="icon-videPlay"></span>{$video.file_time}</div>
              </li>
              {$video.hidden}
              
              {/eyou:videolist}
            </ul>
          </div>
          <div class="video-period-bottom"> {eyou:gt name="$eyou.field.users_price" value="0"}
            <div class="video-period-price"><span>￥{$eyou.field.users_price}</span></div>
            {/eyou:gt}
            <div class="video-buy-now" style="display: none;" id="BuyOnclick13579"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="course-introduce">
    <div class="course-introduce-area">
      <div class="section_tab"> <a class="section_same" target="_self" >课程概述</a> </div>
      <div id="contentSection1" class="section" >
        <div class="section-info-img">{$eyou.field.content}</div>
      </div>
      <div class="hot-area">
        <p class="title">热门课程<a href="{$eyou.field.typeurl}"class="hot-more" rel="nofollow">更多<span class="icon-more"><i class="fa fa-angle-right"></i></span></a></p>
        <ul class="hot-list">
          {eyou:arclist orderby='click'}
          <li> <a href="{$field.arcurl}">
            <div class="hot-img"> <img src="{$field.litpic}" alt="" class="">
              <div class="timpTip"> {$field.total_duration} </div>
            </div>
            <p class="hot-title">{$field.title}</p>
            <div class="hot-bottom"> {eyou:memberinfos mid='$field.users_id' id='users'}
              <p class="hot-teacher">讲师：{$users.nickname}</p>
              {$users.hidden}
              {/eyou:memberinfos}
              <p class="hot-num"><i class="am-icon-user"></i><span>{$field.click}</span></p>
              {eyou:gt name="$field.users_price" value="0"}
              <p class="hot-price">￥<span class="course-price">{$field.users_price}</span></p>
              {eyou:else/}
              <p class="hot-price">免费</p>
              {/eyou:gt} </div>
            </a> </li>
          {/eyou:arclist}
        </ul>
      </div>
    </div>
    <div class="mainCourse">
      <div class="intereste-area">
        <p class="title">讲师介绍</p>
        {eyou:memberinfos mid='$eyou.field.users_id' id='users' addfields='para_3'}
        <div class="section-recome"> <img src="{$users.head_pic}">
          <div class="section-recome-right">
            <p class="section-recome-name">{$users.nickname}</p>
            <p class="section-recome-description">{$users.para_3}</p>
          </div>
        </div>
        {$users.hidden}
        
        {/eyou:memberinfos} </div>
    </div>
  </div>
</div>
</div>

<!--网站公用底部——开始--> 

{eyou:include file="footer.htm" /} 

<!--网站公用底部——结束-->

</body>
</html>